<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Discord Verified Invite</title>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
  <form action="/<%=data.link%>" method="POST">
    <h1><%=data.serverName%></h1>
    <div class="g-recaptcha" data-sitekey=<%=data.siteKey%>></div>
    <br/>
    <input type="submit" value="Submit">
  </form>
</body>
</html>